fastapi
uvicorn
sqlalchemy
psycopg2-binary
fuzzywuzzy
unidecode
python-dotenv
python-jose
scikit-learn
numpy
nltk
email-validator==2.3.0
python-multipart
python-Levenshtein==0.27.1
cffi==2.0.0
passlib==1.7.4
bcrypt==3.2.0
cffi==2.0.0
passlib==1.7.4
pytest
pytest-asyncio
httpx 
sqlalchemy-utils 
