alembic==1.17.1
bcrypt==3.2.0
boto3==1.40.67
email-validator==2.3.0
fastapi==0.120.4
fuzzywuzzy==0.18.0
joblib==1.5.2
langchain==0.3.13
langchain-core==0.3.63
langchain-openai==0.2.14
langchain-postgres==0.0.12
langchain-text-splitters==0.3.8
nltk==3.9.2
numpy==1.26.4
openai==1.59.7
pandas==2.3.3
passlib==1.7.4
pgvector==0.2.5
psycopg2-binary==2.9.11
pydantic==2.12.3
pydantic_core==2.41.4
python-dotenv==1.2.1
python-jose==3.5.0
python-Levenshtein==0.27.1
python-multipart==0.0.20
RapidFuzz==3.14.3
scikit-learn==1.7.2
scipy==1.15.3
uvicorn==0.38.0
